<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Login</h1>
                    <h5>❤️ Feel Free To Login ❤️</h5><hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" formControlName="email" placeholder="Enter E-mail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" formControlName="password" placeholder="Enter Password" class="form-control" id="exampleInputPassword1" required>
                    </div>
                    <button style="text-align: center;" type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a style="text-align: center;" [routerLink]="['/signup']">New User ? Click to SignUp!</a>
            </div>
        </div>
    </div>
</div>
